.card {
  position: relative;
  overflow: hidden;

  width: 350px;
  height: 400px;

  margin-inline: 10px;
  margin-bottom: 20px;

  border: 1px solid rgba(99, 99, 99, 0.9);
  border-radius: 10px;
}

.card::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: calc(100% + 20px);
  background: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-position: 0 -10px;
  filter: blur(3px);
  transition: filter 0.3s ease;
  z-index: 0;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  transition: background 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.card:hover::before {
  filter: blur(0px);
}

.card:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card > * {
  position: relative;
  z-index: 10;
}

.grade {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;

  margin-right: 10px;
  margin-bottom: 10px;
}

.grade p {
  color: white;
}

.grade img {
  width: 30px;
  height: 30px;

  margin-left: 7px;
}

.grade__container {
  display: flex;
  align-items: center;

  padding: 5px;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.titles__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}


@media(min-width: 1440px) {
  .card {
    width: 280px;
    height: 330px;
  }
}