.header__wrapper {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    
    width: 1440px;
    height: 130px;

    padding-inline: 35px;

    border-radius: 10px;

    background-color: rgb(48, 48, 48);
    color: white;
}

.header h1 {
    margin-right: 60px;
}

.header p {
    padding: 15px;
    border: 2px solid rgb(39, 38, 38);

    font-size: 1.5em;
}

.header p:hover {
    background-color: rgb(59, 57, 57);
    border: 2px solid rgb(146, 145, 145);
    border-radius: 10px;
}