.footer__button {
  padding: 15px;

  border: 2px solid rgb(31, 31, 31);;
  border-radius: 15px;

  font-size: larger;
  background-color: rgb(31, 31, 31);
}

.footer__button:hover {
  cursor: pointer;

  border: 2px solid rgb(146, 145, 145);

  background-color: rgb(63, 63, 63);
}
